<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Food Rescue</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/grayscale.min.css" rel="stylesheet">

  <!--Google Maps API jQuery-->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <!-- Google Maps API-->
<!--   <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS9O21Vg-r_HgnBpZBA_U2KxjhK-RoDms&callback=initMap&libraries=places"></script> -->

  <!-- External JS  -->

  <!-- External APP JS  -->
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Food Rescue</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">The Map</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Food Rescue</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Help communities by donating your unused food</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">Find out more!</a>
      </div>
    </div>
  </header>


  <!-- About Section -->
  <section id="about" class="about-section">
    <div class="container">
      <div class="row align-items-top mb-4 mb-lg-5">
        <div class="col-xl-3 col-lg-4 col-xl-5">
          <div class="featured-text text-center text-lg-left">
            <h2 class="text-white mb-4">About</h2>
            <p class="text-white-50">Freeganism is a practice and ideology participation in the conventional economy
              and
              minimal consumption of resources, particularly through recovering wasted goods like food. The word
              "freegan" is a portmanteau of "free" and "vegan". <br> The average Canadian consumer throws out an
              estimated 170 kilograms of food a year. This ends up going to landfills - when it should instead be
              feeding
              communities in need of these resources. With Food Rescue, we hope to reduce our food wastage by
              suppoting
              communities with our application.</p>
          </div>
        </div>

        <div class="col-xl-7 col-lg-9">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/gkbOpCRyKvQ" frameborder="0" allow="autoplay; encrypted-media"
            allowfullscreen>
          </iframe>
        </div>
      </div>
    </div>
  </section>

  <!-- Map Section -->
  <section id="projects" class="projects-section bg-light">
    <div class="container">
      <!-- List Section -->
      <div class="row align-items-top mb-4 mb-lg-5">
        <div class="col-xl-3 col-lg-4 col-xl-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Your Maps</h4>
            <!-- Will populate lists here-->
            <section id="your-maps">
              <form class="form-inline d-flex">
                  <input id="new-map" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" type="text" placeholder="Create New Map">
                  <button id="create-map" type="submit" class="btn ban-primary mx-auto">Create</button>
              </form>
              <br>
              <ol class="customList">
                <li>
                  <button class="btn btn-primary mx-auto" id="dumpster-heaven">Dumpster Heaven</button>
                </li>
              </ol>
            </section>
          </div>

          <br>
          <!-- Other Lists that are here permanently -->
          <div class="featured-text text-center text-lg-left">
            <h4>Other Freegan's Maps</h4>
            <ol>
              <li>
                <button id="vegan-janet" class="btn btn-primary mx-auto">Vegan Janet</button>
              </li>
              <li>
                <button id="trash-panda" class="btn btn-primary mx-auto">Trash Panda Bliss</button>
              </li>
            </ol>
          </div>
          <div class="featured-text text-center text-lg-left">
            <h4>Favourite Maps</h4>
            <ol>
              <li>
                <button id="east-van" class="btn btn-primary mx-auto">East Van Dump Life</button>
              </li>
              <li>
                <button id="gastown-trash" class="btn btn-primary mx-auto">Gastown Trash Party</button>
              </li>
            </ol>
          </div>
        </div>

        <!-- Google MAP API and buttons -->

        <div class="map-section col-xl-7 col-lg-9">
          <h4 class="title-map">Your Map Name</h4>
          <form class="form-inline d-flex">
            <input id="pac-input" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" type="text" placeholder="Search">
            <button id="add" class="btn ban-primary mx-auto">Add Point</button>
            <button id="remove" class="btn ban-primary mx-auto">Remove Point</button>
          </form>
          <div id="map">
          </div>
          <button id="save" class="btn ban-primary mx-auto">Save Map</button>
          <button id="delete" class="btn ban-primary mx-auto">Delete Map</button>
        </div>
      </div>
    </div>
  </section>



  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">4923 Granville St, Food Secure, CAD</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">hello@foodrescue.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+1 (604) 902-8832</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Food Rescue 2018
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="scripts/grayscale.min.js"></script>
  <script src="scripts/googlemaps.js"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS9O21Vg-r_HgnBpZBA_U2KxjhK-RoDms&callback=initMap&libraries=places"></script>

</body>

</html>
